body{
  background-color: honeydew;
}



.App{
  margin-top: 15%;
}

.App h3{
  margin: auto;
  text-align: center;
}

.App h1{
  text-align: center;
  padding-bottom: 35px;
}

form{
  width: 60%;
  margin: auto;
}

form input{
  width: 65%;
  margin-top: 15px;
}

 button{
  
  margin: auto;
  margin-top:40px ;
}